[submodule "random-name-generator"]
	path = random-name-generator
	url = https://github.com/SidRoberts/random-name-generator.git
	branch = master
[submodule "scratchpad"]
	path = scratchpad
	url = https://github.com/SidRoberts/scratchpad.git
