@import url('https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
}

html {
    background: linear-gradient(to right, #F9B733, #FD4A1A);
}

body {
    color: #343434;
    font-family: 'Miriam Libre', sans-serif;
    margin: 2rem;
}

#main {
    background: rgba(255, 255, 255, 25%);
    display: table;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 15px #EEE;
}

h2 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.333rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: justify;
}
